# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

# C# files
[*.cs]

#### Core EditorConfig Options ####

# Indentation and spacing
indent_size = 4
indent_style = space
tab_width = 4
trim_trailing_whitespace = true


csharp_indent_block_contents = true
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_preserve_single_line_statements = false

# Code Styles
csharp_style_expression_bodied_accessors = true:error

# Organize usings
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
file_header_template = unset


dotnet_analyzer_diagnostic.severity = none

# Two or more consecutive blank lines: Remove down to one blank line. SA1507
dotnet_diagnostic.SA1507.severity =warning

# Blank line immediately before or after a { line: remove it. SA1505, SA1509
dotnet_diagnostic.SA1505.severity = warning
dotnet_diagnostic.SA1509.severity = warning

# Blank line immediately before a } line: remove it. SA1508
dotnet_diagnostic.SA1508.severity = warning